In [1]:
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('twm_credit_acct.csv', delimiter=';')

In [6]:
df = df[df['account_active'] == 'Y ']

In [8]:
df

,cust_id,acct_nbr,credit_limit,credit_rating,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance
0,1363160,4561143213631600,1000,0,Y,12.10.1988,NaN,657.46,286.69
1,1362487,4561143213624870,3000,0,Y,8.8.1995,NaN,0.00,1548.23
2,1362548,4561143213625480,6700,0,Y,11.11.1986,NaN,6965.25,68.68
4,1363017,4561143213630170,1000,0,Y,8.2.1995,NaN,0.00,1000.00
5,1362609,4561143213626090,3000,0,Y,20.7.1992,NaN,1775.07,3000.00
...,...,...,...,...,...,...,...,...,...
461,1362895,4561143213628950,1300,0,Y,3.10.1995,NaN,0.00,1300.00
464,1363467,4561143213634670,1500,0,Y,30.6.1993,NaN,1193.89,1500.00
465,1363263,4561143213632630,3000,0,Y,29.3.1995,NaN,0.00,1218.94
466,1362569,4561143213625690,9200,0,Y,6.12.1995,NaN,0.00,9200.00
467,1363303,4561143213633030,1000,0,Y,22.4.1995,NaN,0.00,1000.00

In [9]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output1.html')

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]