Restful api:
* uniform interface
* client server seperation
* stateless design
* layered system 
* cache on demand 
* code on demand 

Architetectural design for a certain kind of software

Relational database
* postgres primary & foregin keys 
* star * snow flake patterns 
* RDBMS - relational database management system - mySQL

dataframe boolearn operator eq, ne, lt, gt, le, ge

reductions : empty(), all(), all(), bool()

to evaluate single-element pandas objects in a boolean context, use the method bool()

pandas handles element-wise comparison between different array-like objects of the same length

In [ ]:
np.nan == np.nan
False

In [ ]:
df.decribe()

In [ ]:
For a non-numerical Series object, describe() will give a simple summary of the number of unique values and the most frequently occurring values:

In [ ]:
          A         B         C
0 -0.327863 -0.946180 -0.137570
1 -0.186235 -0.257213 -0.486567
2 -0.507027 -0.871259 -0.111110
3  2.000339 -2.430505  0.089759
4 -0.321434 -0.033695  0.096271

In [112]: df1.idxmin(axis=0)
Out[112]: 
A    2
B    3
C    1
dtype: int64

In [113]: df1.idxmax(axis=1)
Out[113]: 
0    C
1    A
2    C
3    A
4    C
dtype: object

In [ ]:
iterrows() allows you to iterate through the rows of a dataframe as series object

In [ ]:
itertuples()

In [ ]:
df.apply

In [ ]:
df.to_numpy()

In [ ]:
df.select_dtypes(include=[bool])

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2['E'].isin(['one','two'])]

In [ ]:
pd.concat(pieces) # joins all the roles together

In [ ]:
inner join is done automatically with merge()

In [ ]:
By group by, we are referring to a process involving the following steps:

Splitting the data into groups based on some criteria
Applying a function to each group independently
Combining the results into a data structure

In [ ]:
df.groupby('A').agg({'C': np.sum, 'D': np.max})

In [ ]:
df.stack()

In [2]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                       'B': ['A', 'B', 'C'] * 4,
                       'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                       'D': np.random.randn(12),
                       'E': np.random.randn(12)})

NameError: name 'pd' is not defined

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

In [ ]:
#check for dupes for Id
idsUnique = len(set(df_train.Id))
idsTotal = df_train.shape[0]
idsdupe = idsTotal - idsUnique

In [ ]:
sorted(list(df_train.columns))

In [ ]:
# most correlated features with SalePrice, emphasis correlation with SalePrice
corrmat = df_train.corr()
top_corr_features = corrmat.index[abs(corrmat["SalePrice"])>0.5]
plt.figure(figsize=(10,10))
g = sns.heatmap(df_train[top_corr_features].corr(),annot=True,cmap="RdYlGn_r")

In [ ]:
# missing data
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

In [ ]:
# extract the names of columns with missing values
cols_with_missing = missing_data[missing_data.Percent > 0].index.tolist()
# remove column names that are already removed from dataset
missing_cols = list(set(cols_with_missing) - set(to_drop))
# check the datatype
df_train.dtypes[missing_cols]

In [ ]:
df.fillna()

In [ ]:
def fill_item(row):
    if not np.isnan(row[‘Item_Weight’]):
        return row[‘Item_Weight’]
    else:
        mean = mean_weights.loc[row.Item_Type, ‘Item_Weight’]
        return mean