In [2]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [15]:
cast.title.value_counts().head(10)

Around the World in Eighty Days       1298
7 cajas                                689
Thelma                                 580
The Ten Commandments                   533
The Eschatrilogy: Book of the Dead     517
Catching Faith                         493
The Dark Knight Rises                  453
Welcome to Essex                       449
The Buccaneer                          436
Stuck on You                           436
Name: title, dtype: int64

### Which three years in the 1930s saw the most films released?

In [20]:
fil = (cast.year.between(1930,1939))

In [21]:
cast[fil].year.value_counts().head(3)

1937    27462
1936    25755
1938    25206
Name: year, dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [25]:
titles['decade'] = titles.year//10 * 10

In [26]:
titles.groupby('decade').title.count()

decade
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
Name: title, dtype: int64

### Count the number of "Hamlet" films made in each decade.

In [29]:
fil = titles.title == 'Hamlet'
titles[fil].groupby('decade').title.count()

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: title, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [32]:
fil = cast.character == 'Rustler'
cast[fil].groupby('decade').character.count()

decade
1920     6
1930    84
1940    18
1950     8
1960     2
1970     9
1980     1
1990     4
2000     2
Name: character, dtype: int64

### Count the number of "Hamlet" characters in each decade.

In [33]:
fil = cast.character == 'Hamlet'
cast[fil].groupby('decade').character.count()

decade
1910     6
1920     1
1930     6
1940     1
1950     3
1960     7
1970     8
1980     2
1990    11
2000    19
2010    28
Name: character, dtype: int64

### What are the 11 most common character names in movie history?

In [34]:
cast['character'].value_counts().head(11)

Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [41]:
fil = cast.character == 'Herself'

cast[fil].groupby('name').character.count().sort_values().tail(10)

name
Rekha                  5
Kareena Kapoor         5
Caroline Rhea          5
Sumie Sakai            6
Joan Rivers            6
Hillary Clinton        7
Mary Jo Pehl           7
Margaret Thatcher      8
Joyce Brothers         9
Queen Elizabeth II    11
Name: character, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [42]:
fil = cast.character == 'Himself'

cast[fil].groupby('name').character.count().sort_values().tail(10)

name
Bill Clinton           20
Martin Luther King     21
Ron Jeremy             23
Benito Mussolini       23
George W. Bush         23
Winston Churchill      24
John F. Kennedy        34
Ronald Reagan          39
Richard Nixon          46
Adolf Hitler          100
Name: character, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [44]:
fortyfive = cast['year'] == 1945
cast[fortyfive].groupby('name').year.count().sort_values().tail(10)

name
Edmund Cobb        24
Pierre Watkin      24
Larry Steers       25
Franklyn Farnum    26
Frank O'Connor     27
Nolan Leary        27
Harold Miller      29
Bess Flowers       29
Sam (II) Harris    32
Emmett Vogan       39
Name: year, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [ ]:
fortyfive = cast['year'] == 1985
cast[fortyfive].groupby('name').year.count().sort_values().tail(10)

### How many roles "Mammootty" has played in each year of his career.

In [51]:
mamm = cast['name'] == 'Mammootty'
cast[mamm].groupby('year').year.count()

year
1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [59]:
fil = cast.character.str.contains('Patron in')
cast[fil].groupby('character').character.count().sort_values()

character
Baldy - Bar Patron in Drug Raid     1
Patron in Children's Nightclub      1
Patron in Cinema                    1
Patron in Diner                     1
Patron in Hall #1                   1
                                   ..
Patron in Bar                       4
Patron in Billiard Parlor           5
Patron in Chinese Restaurant        9
Patron in the Coffee House          9
Patron in Frisky Rabbit            16
Name: character, Length: 63, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [61]:
fil = cast.character.str.startswith('Science')
cast[fil].groupby('character').character.count().sort_values().tail(10)

character
Science Fair Kid         3
Science                  4
Science Reporter         5
Science Promo Cadet      5
Science Kid              5
Science Club Member      5
Science Fair Judge       6
Science Student          9
Science Fair Student     9
Science Teacher         60
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [63]:
judi = (cast['n'].isnull()) & (cast['name'] == 'Judi Dench')

In [65]:
cast[judi].character.count()

6

In [71]:
judi =  (cast['name'] == 'Judi Dench')
cast[judi].n.nunique()

18

### Count number of n-values of Cary Grant's roles through his career.

In [66]:
judi = (cast['n'].isnull()) & (cast['name'] == 'Cary Grant')

In [72]:
judi =  (cast['name'] == 'Cary Grant')
cast[judi].n.nunique()

8

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [73]:
judi =  (cast['name'] == 'Sidney Poitier')
cast[judi].n.nunique()

8

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [81]:
fil = (cast.n == 1) & (cast.decade == 1950) & (cast.type == 'actor')
cast[fil].character.count()

6616

In [82]:
fil = (cast.n == 1) & (cast.decade == 1950) & (cast.type == 'actress')
cast[fil].character.count()

2965

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [83]:
fil = (cast.n == 2) & (cast.decade == 1950) & (cast.type == 'actor')
cast[fil].character.count()

4564

In [84]:
fil = (cast.n == 2) & (cast.decade == 1950) & (cast.type == 'actress')
cast[fil].character.count()

4556