In [9]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [10]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [12]:
cast = pd.read_csv('cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

(232330, 2)

### What are the earliest two films listed in the titles dataframe?

In [15]:
titles.sort_values(by='year').head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [19]:
hamlet_movies = titles[titles['title'].str.contains('Hamlet')]
hamlet_movies

                                          title  year
4394            Dogg's Hamlet, Cahoot's Macbeth  2005
6009                                     Hamlet  1948
7670                  Hamlet: Prince of Denmark  1989
8582                                Hamlet (II)  2005
8865                                Hamlet (II)  2015
14317                     Green Eggs and Hamlet  1995
15183                            Hamlet Unbound  2012
15202             Hamlet: The Fall of a Sparrow  2017
17419                 Hamlet, Prince of Denmark  1997
24178                        Han, hun og Hamlet  1932
24284               Intikam Melegi/Kadin Hamlet  1976
37146                                  Hamlet_X  2003
39230                  Hamlet, Son of a Kingpin  2015
42266                               Hamlet (IV)  2016
44682                              Hamlet (III)  2007
45350                                    Hamlet  1990
46721                                    Hamlet  1910
62549                            Redneck Hamlet  2017
71152   The Tragedy of Hamlet Prince of Denmark  2007
72925                        A Sagebrush Hamlet  1919
83789                       Harry, Hamlet and I  2013
92146                                    Hamlet  1976
94355                                    Hamlet  1987
94554                                    Hamlet  2000
98086                                  Hamlet 2  2008
98554                                    Hamlet  1921
99398                        Han, hun og Hamlet  1922
102506      Predstava 'Hamleta' u Mrdusi Donjoj  1974
102919                                   Hamlet  2011
109367                            Hamlet Frezer  2016
113096                             Hamlet (III)  2016
114431                   Hamlet liikemaailmassa  1987
122704                                   Hamlet  1969
128388                                   Hamlet  1954
143184                            Hamlet A.D.D.  2014
151918                              Fuck Hamlet  1996
163471                              Hamlet (II)  2007
166410                                   Hamlet  1913
167861                            Zombie Hamlet  2012
168965                                   Hamlet  2015
172418                Hamlet the Vampire Slayer  2008
174293                                 Hamlet X  2004
176069                                   Hamlet  2009
182970                                   Hamlet  1964
192443                             H for Hamlet  1993
193914        Royal Shakespeare Company: Hamlet  2016
195089                           Hamlet's Ghost  2015
201291                                   Hamlet  1996
209878                                   Hamlet  1911
211393                           Kitchen Hamlet  2009
221479                                   Hamlet  1973
223568                                   Hamlet  2014
223618                   Hamlet in the Hamptons  2002
227105                              Hamlet (II)  1964

### How many movies are titled "North by Northwest"?

In [18]:
result = titles['title'] == 'North by Northwest'
titles[result]

                     title  year
139311  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [20]:
hamlet_movies.sort_values(by='year').head(1)

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [24]:
treasure = titles[titles['title'].str.contains('Treasure Island')]

In [25]:
treasure.sort_values(by='year')

                                                    title  year
206027                                    Treasure Island  1918
51287                                     Treasure Island  1920
191050                                    Treasure Island  1934
144440                      The Secret of Treasure Island  1938
59773                     Charlie Chan at Treasure Island  1939
96934                                     Treasure Island  1950
187404                          Return to Treasure Island  1954
65156                           Five on a Treasure Island  1957
89534                                     Treasure Island  1972
111343                                    Treasure Island  1973
205397                                    Treasure Island  1985
130842                             Muppet Treasure Island  1996
153428                               Treasure Island (II)  1999
179354                                    Treasure Island  1999
28183                          Pirates of Treasure Island  2006
180487  Treasure Island Kids: The Mystery of Treasure ...  2006
217992  Treasure Island Kids: The Battle of Treasure I...  2006
223604  Treasure Island Kids: The Monster of Treasure ...  2006
191707             National Theatre Live: Treasure Island  2015

### How many movies were made in the year 1950?

In [28]:
film = titles['year'] == 1950
len_1950 = len(titles[film])
len_1950

1099

### How many movies were made in the year 1960?

In [30]:
film = titles['year'] == 1960
len_1960 = len(titles[film])
len_1960

1501

### How many movies were made from 1950 through 1959?

In [33]:
film = (titles['year'] >= 1950) & (titles['year'] <=1959)
len_1950_to_1959 = len(titles[film])
len_1950_to_1959

12711

### In what years has a movie titled "Batman" been released?

In [35]:
fil = titles['title'] == 'Batman'
batman = titles[fil]
batman['year'].unique()

array([1989, 1943], dtype=int64)

### How many roles were there in the movie "Inception"?

In [36]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [38]:
fil = cast['title'] == 'Inception'
len(cast[fil])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [40]:
cast[fil]['n'].isnull().sum()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [41]:
len(cast[fil]) - cast[fil]['n'].isnull().sum()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [47]:
fil = cast['title'] == 'North by Northwest'
cast[fil][~cast[fil].n.isin(['NaN'])].sort_values(by='n')

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [56]:
cast[(cast.title == "North by Northwest") & (cast.n.notnull())].sort_values(by='n')

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [54]:
fil = (cast['title'] == 'Sleuth') & (cast['year'] == 1972)
cast[fil].sort_values(by='n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [55]:
fil = (cast['title'] == 'Sleuth') & (cast['year'] == 2007)
cast[fil].sort_values(by='n')

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [59]:
fil = (cast['title'] == 'Hamlet') & (cast['year'] == 1921)
len(cast[fil].sort_values(by='n'))

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [60]:
fil = (cast['title'] == 'Hamlet') & (cast['year'] == 1996)
len(cast[fil].sort_values(by='n'))

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [61]:
fil = (cast['title'] == 'Hamlet') 
len(cast[fil].sort_values(by='n'))

313

### How many people have played an "Ophelia"?

In [62]:
fil = (cast['character'] == 'Ophelia')
len(cast[fil].sort_values(by='n'))

111

### How many people have played a role called "The Dude"?

In [63]:
fil = (cast['character'] == 'The Dude')
len(cast[fil].sort_values(by='n'))

18

### How many people have played a role called "The Stranger"?

In [64]:
fil = (cast['character'] == 'The Stranger')
len(cast[fil].sort_values(by='n'))

212

### How many roles has Sidney Poitier played throughout his career?

In [65]:
fil = cast['name'] == 'Sidney Poitier'
len(cast[fil])

43

### How many roles has Judi Dench played?

In [66]:
fil = cast['name'] == 'Judi Dench'
len(cast[fil])

54

In [72]:
cast.year.unique()

array([2015, 1985, 2017, 2009, 2014, 1998, 2000, 2016, 2010, 1997, 1977,
       2013, 2011, 2007, 1993, 1963, 2001, 2008, 1971, 1978, 1975, 1996,
       2005, 1992, 1995, 2006, 1914, 2002, 1994, 1957, 1960, 1958, 1984,
       2012, 1969, 1976, 1956, 1970, 1953, 1982, 1986, 2003, 1983, 1999,
       1931, 1968, 1987, 1989, 1980, 1988, 2019, 2018, 1950, 1954, 1948,
       1917, 1935, 1932, 1927, 1938, 1942, 1921, 1918, 1944, 1955, 1952,
       1945, 1981, 1939, 1940, 1949, 1947, 1943, 1991, 2004, 1962, 1979,
       1930, 1973, 1961, 1933, 1964, 1990, 1946, 1965, 1923, 1974, 1967,
       1936, 1929, 1972, 1966, 1959, 1926, 1951, 1941, 1937, 1934, 1922,
       1928, 1920, 1919, 1915, 1925, 1916, 2020, 1924, 1913, 1912, 2023,
       2025, 2026, 1911, 1910, 2022, 1908, 1909, 1906, 2021, 1894, 1905,
       1907, 1900], dtype=int64)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [87]:
fil = (cast['name'] == 'Cary Grant') & (cast['year'].between(1940, 1950))  & (cast['n'] == 2)
cast[fil]

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [86]:
support_cary = (cast['n'] == 2) & (cast['name'] == 'Cary Grant') & (cast['year'].between(1940,1950))
cast[support_cary]

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [92]:
support_cary = (cast['n'] == 1) & (cast['name'] == 'Cary Grant') & (cast['year'].between(1940,1949))
cast[support_cary].sort_values(by='year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [108]:
support_cary = (cast['type'] == 'actor') & (cast['year'].between(1950,1959))
len(cast[support_cary])

155058

In [110]:
(cast[support_cary].character.nunique())

91996

### How many roles were avilable for actresses in the 1950s?

In [111]:
support_cary = (cast['type'] == 'actress') & (cast['year'].between(1950,1959))
len(cast[support_cary])

56412

In [112]:
(cast[support_cary].character.nunique())

35528

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [116]:
leading_role = (cast.n == 1) & (cast.year.between(0,1980))
len(cast[leading_role])

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [118]:
leading_role = (cast.n != 1) & (cast.year.between(0,1980))
len(cast[leading_role])

1097484

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [120]:
leading_role = (cast.n.isnull()) & (cast.year.between(0,1980))
len(cast[leading_role])

439134