In [2]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Using groupby(), count the number of films that have been released in each decade in the history of cinema.

In [9]:
cast['decade'] = cast.year//10 * 10
titles.groupby('decade').title.count()

decade
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
Name: title, dtype: int64

### Use groupby() count the number of "Hamlet" films made in each decade.

In [7]:
fil = titles.title == 'Hamlet'
titles[fil].groupby('decade').title.count()

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
Name: title, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [12]:
fil = (cast.type == 'actor') & (cast.decade == 1950) & (cast.n == 1)
cast[fil].groupby('year').character.count()

year
1950    626
1951    647
1952    607
1953    652
1954    634
1955    641
1956    643
1957    735
1958    710
1959    721
Name: character, dtype: int64

### In the 1950s taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [15]:
fil = (cast.type == 'actor') & (cast.decade == 1950) & (cast.n.isin([1,2,3,4,5]))

In [16]:
cast[fil].character.count()

27972

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

In [23]:
cast[cast.title.str.contains('Pink Panther')].groupby('title').character.count()

title
Curse of the Pink Panther          67
Revenge of the Pink Panther        64
Son of the Pink Panther            46
The Pink Panther                  111
The Pink Panther 2                 84
The Pink Panther Strikes Again     68
The Return of the Pink Panther     30
Trail of the Pink Panther          41
Name: character, dtype: int64

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

In [47]:
seri = cast[cast.name == 'Frank Oz'].groupby('title').character.count()

In [49]:
seri = seri[seri >1]
seri

title
An American Werewolf in London          2
Follow That Bird                        3
Muppet Treasure Island                  4
Muppets from Space                      4
The Adventures of Elmo in Grouchland    3
The Dark Crystal                        2
The Great Muppet Caper                  6
The Muppet Christmas Carol              7
The Muppet Movie                        8
The Muppets Take Manhattan              7
Name: character, dtype: int64

### List each of the characters that Frank Oz has portrayed at least twice.

In [ ]:
lst = seri.index.tolist()
type(lst)
cast[cast.title.isin(lst)]

In [52]:
seri = cast[cast.name == 'Frank Oz'].groupby('character').title.count()
seri = seri[seri >1]
seri

character
Animal            6
Bert              3
Cookie Monster    3
Fozzie Bear       4
Grover            2
Miss Piggy        6
Sam the Eagle     5
Yoda              6
Name: title, dtype: int64