In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
superman = cast.character == 'Superman'
batman = cast.character == 'Batman'

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [7]:
superman_series = cast[superman].groupby('year').year.count()
batman_series = cast[batman].groupby('year').year.count()

In [9]:
superman_years = superman_series.subtract(batman_series)
superman_years[superman_years>0].count()

1

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [10]:
batman_years = batman_series.subtract(superman_series)
batman_years[batman_years>0].count()

9

### Count the number of actor roles for each year and the number of actress roles for each year over the history of film.

In [12]:
actor =cast.type == 'actor'
actress = cast.type == 'actress'

In [16]:
actor_role = cast[actor].groupby('year').title.count()
actress_role = cast[actress].groupby('year').title.count()

### Find the difference between the number of actor roles and the number of actress roles for each year over the history of film.

In [22]:
actor_role.subtract(actress_role, fill_value = 0)

year
1894     1.0
1900     2.0
1905     1.0
1906    11.0
1907     5.0
        ...
2021     5.0
2022     7.0
2023     1.0
2025     2.0
2026     1.0
Name: title, Length: 123, dtype: float64

### What is the proportion of roles that have been 'actor' roles for each year in the history of film.

In [23]:
proportion = actor_role/(actor_role + actress_role)

### What is the proportion of supporting (n=2) roles that have been 'actor' roles for each year in the history of film.

In [24]:
supporting_actor = (cast.type == 'actor') & (cast.n == 2)
supporting_actress = (cast.type == 'actress') & (cast.n == 2)

In [26]:
supp_actor_role = cast[supporting_actor].groupby('year').title.count()
supp_actress_role = cast[supporting_actress].groupby('year').title.count()
proportion = supp_actor_role/(supp_actor_role + supp_actress_role)
proportion

year
1906    0.666667
1907         NaN
1908         NaN
1910    0.500000
1911    0.736842
          ...
2016    0.561779
2017    0.578637
2018    0.577465
2019    0.777778
2020    0.333333
Name: title, Length: 114, dtype: float64