In [9]:
# import pandas
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
book_ratings = pd.read_csv('BX-Book-Ratings.csv',sep=";", encoding="latin")
books = pd.read_csv('BX-Books.csv',sep=";", encoding="latin", error_bad_lines=False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
book_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
books_name = books[['ISBN','Book-Title']]

In [6]:
book_data = pd.merge(book_ratings, books_name, on='ISBN')

In [7]:
book_data.head()

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [8]:
book_data.shape

(1031136, 4)

In [12]:
plot_data = book_data.groupby('Book-Title')['Book-Rating'].count().sort_values(ascending=False)

In [ ]:
ratings_mean_count = pd.DataFrame(book_data.groupby('Book-Title'))

In [17]:
book = book_data[:100000]

In [19]:
book.shape

(100000, 4)

In [20]:
book.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title'], dtype='object')

In [24]:
user_book_rating = book.pivot_table(index='User-ID', columns='Book-Title', values='Book-Rating')

In [25]:
user_book_rating.head()

Book-Title,007 El Mundo Nunca Es Suficiente,01-01-00: The Novel of the Millennium,101 Dalmatians,101 Experiments in the Philosophy of Everyday Life,101 Great Resumes,1421 : The Year China Discovered America,1st to Die: A Novel,21 Dog Years : Doing Time @ Amazon.com,24 Hours,"28 Barbary Lane : A \Tales of the City\"" Omnibus""",...,"You're Not Elected, Charlie Brown",Your Finances in Changing Times (The Christian Financial Concepts Series),"Your Life in Your Hands: Understanding, Preventing and Overcoming Breast Cancer",Your Personal Trainer,Your Second Child,Zen Essence : The Science of Freedom (Shambhala Pocket Classics),"Zentak, tome 1 : La Passe des Argonautes",Zuiderkruis: Roman,"\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)""",Â¡No bajes al sÃ³tano! (EscalofrÃ­os No. 2)
User-ID,,,,,,,,,,,,,,,,,,,,,
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
user_book_rating['101 Dalmatians']

User-ID
9        NaN
14       NaN
23       NaN
26       NaN
39       NaN
          ..
278819   NaN
278825   NaN
278832   NaN
278843   NaN
278854   NaN
Name: 101 Dalmatians, Length: 27324, dtype: float64

In [27]:
books_like_101_dalmatians = user_book_rating.corrwith(user_book_rating['101 Dalmatians'])

corr_forrest_gump = pd.DataFrame(books_like_101_dalmatians, columns=['Correlation'])
corr_forrest_gump.dropna(inplace=True)
corr_forrest_gump.head()

C:\Users\jesse\AppData\Roaming\Python\Python38\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\jesse\AppData\Roaming\Python\Python38\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                     Correlation
Book-Title
101 Dalmatians          1.000000
1st to Die: A Novel    -0.333333
A Walk to Remember     -0.407309
Aladdin                 1.000000
Are You My Mother?      1.000000

In [29]:
corr_forrest_gump.sort_values('Correlation', ascending=False).head(15)

                                                    Correlation
Book-Title
The Divine Secrets of the Ya-Ya Sisterhood: A N...          1.0
The Grand and Wonderful Day (Little Golden Book)            1.0
Hop on Pop (I Can Read It All by Myself Beginne...          1.0
Eeyore, You're the Best (Disney's Pooh)                     1.0
Dumbo                                                       1.0
Divine Secrets of the Ya-Ya Sisterhood: A Novel             1.0
Disney's: The Little Mermaid (Disney's Wonderfu...          1.0
Disney's The Hunchback of Notre Dame                        1.0
Denial (Frank Clevenger)                                    1.0
G Is for Gumshoe (Kinsey Millhone Mysteries (Pa...          1.0
Girl with a Pearl Earring                                   1.0
Clifford's Sports Day                                       1.0
The King of Torts                                           1.0
Chocolat                                                    1.0
The Promise                                                 1.0