In [4]:
import ipywidgets as widgets
import pandas as pd
import plotly.graph_objects as go
from ipywidgets import interact, interact_manual

In [5]:
slider = widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

slider

IntSlider(value=3, description='Slider:', max=10)

In [9]:
# the data url
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

# create the data-frame
df_london = pd.read_csv(url, encoding= 'unicode_escape')
df_london.columns = ["year","quarter","market","dur_stay","mode","purpose","area","visits","spend","nights","sample"]

# sample 200 rows
df = df_london.sample(200)

In [10]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
8870,2004,July-September,Other Central & South America,1-3 nights,Air,VFR,LONDON,2.073797,0.794293,5.805920,3
59914,2019,July-September,United Arab Emirates,8-14 nights,Tunnel,Holiday,LONDON,1.192108,5.255890,10.771590,1
56389,2018,July-September,Belgium,1-3 nights,Tunnel,Holiday,LONDON,40.940785,13.787088,90.002332,18
30292,2010,October-December,Mexico,8-14 nights,Air,Business,LONDON,0.682786,0.166743,0.682786,1
56104,2018,April-June,Thailand,4-7 nights,Air,Miscellaneous,LONDON,2.717779,1.127879,13.588898,1

In [11]:
# the filter function
def filter_df(column, threshold):
    return df[df[column] <= threshold]

In [12]:
filter_widget = widgets.interact(filter_df,
                                 column=['spend','visits'], 
                                 threshold=(1, 30, 1))

interactive(children=(Dropdown(description='column', options=('spend', 'visits'), value='spend'), IntSlider(va…

In [13]:
@interact
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…

In [14]:
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…